.App {
  text-align: center;
}

.row {
  margin-bottom: 0;
}

.row .col {
  padding: 0 0;
}

.grid {
  height: 100vh;
  border: 2px black solid;
}

.project-panel {
  width: 100%;
  display: block;
}

.project-panel .header {
  height: 10%;
  border: 1px black solid;
  width: 100%;
}

.project-panel .branch-list {
  height: 90%;
  border: 1px black solid;
  width: 100%;
}