.navbar {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.navLogo {
  display: flex;
}

.nav-item {
  align-self: center;
}

.navLogoIcon {
  transform: rotate(-20deg);
  height: 50px;
}

.navLogoTitle {
  color: black;
}
