.navbar {
  display: flex;
  align-items: center;
  margin: 10px;
}

.navLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav_item {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex: 1;
}

.navLogoIcon {
  transform: rotate(-20deg);
  height: 50px;
}

.navLogoTitle {
  color: black;
}

.link_button {
  font-size: 15px;
  color: #333333;
  font-weight: 600;
  text-decoration: none;
  margin-right: 10px;
}
