.signin-img{
  background-image: url("../images/singin-background.png");
  background-size: cover;
  height: 100vh;
}

.signin-container{
  top: 20%;
  position: absolute;
  right: 30%;
  left: 30%;
}

.header-info{
  padding-top: 20px;
}

.signinLogo{
  border: #000 solid 2px;
  height: 80px;
  border-radius: 10px;
}

.submit_button {
  margin-top: 30px !important;
}